nav {
 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.nav-item {
    padding: 5px;

}

.navbar-brand {
    color: #fd5e53!important;
    font-weight: bold;
}

.slider-image {
    width: 400px;
    height: 70vh;
}

body {
    overflow-x: hidden;
    font-family: 'Mulish', sans-serif;

}
section {
    padding: 30px 20px;
}

.whatwedo .carousel-item, .section-body{
    padding: 50px;
    background-color:  #f4f3f3;
    text-align: center;
}

.about {
    padding-top: 25px ;
    background-color: #f4f3f3;
}
.about-heading {
    font-family: 'Oswald', sans-serif;
    color: #fd5e53;
    font-weight: bold;
}

carousel-indicators {
    padding: 20px;
}

.minor-heading {
  margin: 10px 0;
    font-family: 'Oswald', sans-serif;

    color: #fd5e53;
}
.whatwedo .nav li a {
    color: #fd5e53;
}
.section-image, .whatwedo-image {
    width: 70%;
    margin: 20px 15%;

}
.section-heading {
    font-family: 'Oswald', sans-serif;
    color: #fd5e53;
    font-weight: bold;
    text-align: center;
}
/* Footer */
footer {

    background-color: #fd5e53;
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
    text-align: center!important;
}
